In [1]:
#list of item
items = [23,67,'apple','banana',True,'banana',45,3]
print(items)

[23, 67, 'apple', 'banana', True, 'banana', 45, 3]

In [2]:
#Tuple of item
items = (23,67,'apple','banana',True,45,3)
print(items)

(23, 67, 'apple', 'banana', True, 45, 3)

In [3]:
#Set of item
items = {23,67,'banana','apple',True,45.3,'banana'}
print(items)

{True, 67, 'apple', 23, 45.3, 'banana'}

In [4]:
#Dictionary 
student = {
    "name" : "Sam",
    "age" : 23,
    "gnder" : "male",
    "address" : "123 main st",
}
print(student)

{'name': 'Sam', 'age': 23, 'gnder': 'male', 'address': '123 main st'}

In [5]:
a = 2356.76656
type(a)

float

In [6]:
a = "hello"
print(a)

hello

In [1]:
a = input("Enter a number")
print(a)

123456

In [2]:
poem = '''twinkle twinkle little star
how i wonder what u r
up above the world to high
like a diamond in the sky'''
print(poem)

twinkle twinkle little star
how i wonder what u r
up above the world to high
like a diamond in the sky

In [4]:
name = '''shwetank
akshay
sameer
karan
arjun'''
print(name)

shwetank
akshay
sameer
karan
arjun