In [1]:

a = [2,4,6,8,10]
for i in a:
    print(i)

2
4
6
8
10

In [19]:
fruits = ['apple','mango','grapes','banana']
for x in fruits:
    print(x)

apple
mango
grapes
banana

In [11]:
name = "Shwetank Singh"
for char in name:
    print (char)

S
h
w
e
t
a
n
k

S
i
n
g
h

In [17]:
name = "Shwetank Singh"
for char in name:
    print(char, end=" ")

S h w e t a n k   S i n g h

In [17]:
char = "Shwetank"
for name in range(10):
    print(char)

Shwetank
Shwetank
Shwetank
Shwetank
Shwetank
Shwetank
Shwetank
Shwetank
Shwetank
Shwetank

In [2]:
for i in range(10):
    print("SHWETANK")

SHWETANK
SHWETANK
SHWETANK
SHWETANK
SHWETANK
SHWETANK
SHWETANK
SHWETANK
SHWETANK
SHWETANK

In [28]:
# WHLIE LOOP
i = 0
while i <5:
    print(i)
    i+=1

0
1
2
3
4

In [33]:
for x in range(1, 21, 3):
    print(x)

1
4
7
10
13
16
19

In [36]:
for x in range(2, 21, 2):
    print(x)

2
4
6
8
10
12
14
16
18
20

In [37]:
for i in range(1,11):
    print(15,'*',i,'=', 15*i)

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [39]:
#print table of 5 to 10
for i in range(5, 11):
    for j in range(1, 11):
        print(i, "x", j, "=", i*j)
    print("\n")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [1]:
count = 1
while count <=10:
    print('shwetank akshay')
    count += 1

shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay
shwetank akshay

In [56]:
i = 1
while i <= 10:
    print(21,'*',i,'=', 21*i)
    i += 1

21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

Break and continue

In [57]:
fruits = ['ornage', 'apple', 'pear', 'banana', 'ladyfinger', 'kiwi', 'apple']
for x in fruits:
    if x == 'ladyfinger':
        break
    print(x)

ornage
apple
pear
banana

In [58]:
fruits = ['ornage', 'apple', 'pear', 'banana', 'ladyfinger', 'kiwi', 'apple']
for x in fruits:
    if x == 'ladyfinger':
        continue
    print(x)

ornage
apple
pear
banana
kiwi
apple