In [10]:
a = 10 
b = 5
sum = a+b
print(sum)

15

In [11]:
a = 10 
b = 5
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

5
50
2.0
0
2
100000

In [12]:
x = 5
x+=5
print(x)

10

In [13]:
x*=2
print(x)

20

In [14]:
x>30 and x>35

False

In [15]:
not(x>30 and x>35)

True

In [16]:
fruits = ["apple","banana","cherry"]
"banana" in fruits

True

In [17]:
m1, m2, m3, m4 = 10, 20, 30, 40
sum = (m1+m2+m3+m4)
print(sum)

100

In [18]:
avg = sum/4
print(avg)

25.0