In [1]:
student ={
    "name" : "Shwetank Singh",
    "age" : 20,
    "city" : "lucknow",
    "institute" : "Digipodium",
    "sub" : "Python"
}
print(student)

{'name': 'Shwetank Singh', 'age': 20, 'city': 'lucknow', 'institute': 'Digipodium', 'sub': 'Python'}

- how to declare it
- how to access key and values of a dictonary
- how to use loops in dictonary
- indexing in dictonary

In [2]:
student = {
    "name" : "John",
    "class" : "Physics",
    "rollno" : 12,
    "age" : 18,
    "marks" : 80
}
print(student)

{'name': 'John', 'class': 'Physics', 'rollno': 12, 'age': 18, 'marks': 80}

In [3]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'mumbai' : [35,40,45],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [4]:
info = dict(name="John", age=18, rollno=12, marks=80)
print(info)

{'name': 'John', 'age': 18, 'rollno': 12, 'marks': 80}

In [5]:
info2 = dict(name = input("Enter a name: "), age = int(input("Enter age: ")), rollno = int(input("Enter rollno: ")),
             marks = int(input("Enter marks: ")))
print(info2)

ValueError: invalid literal for int() with base 10: ''

In [12]:
#1st method to acces value through its key
print(info2['name'])
print(info2['age'])

shwetank
21

In [13]:
#to add items in a dictoary
student['dist'] = 'BBK'
print(student)

{'name': 'John', 'class': 'Physics', 'rollno': 12, 'age': 18, 'marks': 80, 'dist': 'BBK'}

In [14]:
#to add items in a dictoary
student['dist'] = 'BBK'
print(student)

{'name': 'John', 'class': 'Physics', 'rollno': 12, 'age': 18, 'marks': 80, 'dist': 'BBK'}

In [15]:
for k in student:
    print(k)

name
class
rollno
age
marks
dist

In [16]:
for k,v in student.items():
    print(k,v)

name John
class Physics
rollno 12
age 18
marks 80
dist BBK

In [17]:
company = {
    'emp001' : {
        'name' : 'John',
        'age' : 25,
        'dept' : 'HR'
    }, 
    'emp002' : {
        'name' : 'Doe',
        'age' : 30,
        'dept' : 'IT'
        },
    'emp003' : {
        'name' : 'Smith',
        'age' : 35,
        'dept' : 'Finance'
        }
        
}
print(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR'}, 'emp002': {'name': 'Doe', 'age': 30, 'dept': 'IT'}, 'emp003': {'name': 'Smith', 'age': 35, 'dept': 'Finance'}}

In [18]:
from pprint import pp
pp(company)

{'emp001': {'name': 'John', 'age': 25, 'dept': 'HR'},
 'emp002': {'name': 'Doe', 'age': 30, 'dept': 'IT'},
 'emp003': {'name': 'Smith', 'age': 35, 'dept': 'Finance'}}

In [19]:
#Indexing
print(company['emp002']['age'])

30

In [20]:
print(temp['lucknow'][1])
print(temp['delhi'][2])

30
40

In [21]:
temp = {
    'delhi' : [30,35,40],
}
sum = 30+35+40
avg = sum/3
print(avg)

35.0

In [22]:
temp = {"delhi" : {"cold":10,"rain":30,"summer":55}}
print(temp)
t=temp['delhi']
total=0
for temp in t:
    tp=t.get(temp)
    total=total+tp
print(total/3)

{'delhi': {'cold': 10, 'rain': 30, 'summer': 55}}
31.666666666666668

In [23]:
temp = {
    'lucknow' : [25,30,35],
    'delhi' : [30,35,40],
    'mumbai' : [35,40,45],
}
print(temp)

{'lucknow': [25, 30, 35], 'delhi': [30, 35, 40], 'mumbai': [35, 40, 45]}

In [6]:
print('average temperature of delhi is : ' , sum(temp['delhi'])/len(temp['delhi']))

average temperature of delhi is :  35.0